name: Naruto-Live-New
on:
  workflow_dispatch:
  repository_dispatch:
    types: [restart_stream]

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Start Streaming
        env:
          STREAM_KEY: ${{ secrets.STREAM_KEY }}
        run: |
          ffmpeg -re -stream_loop -1 -i VID_20260117210329.mp4 -c:v libx264 -preset superfast -b:v 2500k -f flv "rtmp://a.rtmp.youtube.com/live2/$STREAM_KEY"

      - name: Auto-Restart Trigger
        if: success()
        run: |
          curl -X POST -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ github.repository }}/dispatches \
          -d '{"event_type": "restart_stream"}'
